%script{:src => "http://leaverou.github.io/prefixfree/prefixfree.min.js", :type => "text/javascript"}
%section
  #action
    #keg
      #pipe-handle
      #pipe
      #pipe-front
    .glass
      .beer
      .handle
        .top-right
        .bottom-right
      .front-glass
%h1.choose
  Brews
%nav
%h1 westbrook
= link_to "Home", root_path
%hr/

- @beverage.each do |beverage|
  %ol
    = beverage.name
  .hidden