%script{:src => "http://leaverou.github.io/prefixfree/prefixfree.min.js", :type => "text/javascript"}
%section
  #action
    #keg
      #pipe-handle
      #pipe
      #pipe-front
    .glass
      .beer
      .handle
        .top-right
        .bottom-right
      .front-glass
%h1.choose
  Pub_Crawler
%nav
  .hidden
    = link_to "PubCrawler Breweries List", breweries_path
    %br
    = link_to "Edit your Profile!", users_edit_path
